@(days: List[Day])
@main("Admin - Activity") {
    <div class="col-xs-12">
        <h1>Legg til dag</h1>
        <form method="POST" action="@routes.DayController.add">
            <input type="date" name="date" placeholder="date">
            <input type="submit" value="Lagre">
        </form>
    </div>
    @for(day <- days){
        <div class="day-wrapper col-xs-12" id="@day.getTitle">
            <h3>@day.getTitle <a class="btn btn-danger btn-xs pull-right" href="@routes.DayController.delete(day.getId)">Slett dag</a></h3>

            @activityForm(day)

            <hr>
            <h4>Aktiviteter i "@day.getTitle":</h4>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Aktivitet</th>
                        <th>Fra</th>
                        <th>Rom</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @for(activity <- day.getActivities){
                    <tr>
                        <td>@activity.getTitle</td>
                        <td>@activity.getStartTime</td>
                        <td>@activity.getRoom</td>
                        <td>
                            <div class="pull-right">
                                <a class="btn btn-primary btn-xs" href="@routes.ActivityController.edit(activity.getId)">Edit</a>
                                <a class="btn btn-danger btn-xs" href="@routes.ActivityController.delete(activity.getId)">Slett</a>
                            </div>
                        </td>
                    </tr>
                }

                </tbody>
            </table>

        </div>
    }
}
