@(days: List[Day])
@main("Admin - Activity") {
<div class="wrapper">


        <h1>Legg til dag</h1>
        <form method="POST" action="@routes.DayController.add">
            <input type="text" name="title" placeholder="Tittel">
            <input type="submit" value="Lagre">
        </form>
</div>
    <div class="col-lg-12">
    @for(day <- days){
        <div class="day-wrapper" id="@day.getTitle">
            <h3>@day.getTitle <a class="btn btn-danger btn-xs pull-right" href="@routes.DayController.delete(day.getId)">Slett dag</a></h3>

            <form class="form-horizontal" action="@routes.ActivityController.add#@day.getTitle" method="POST">
                <input type="hidden" name="day.id" value="@day.getId" />
                <fieldset>
                    <legend>Legg til ny aktivitet til "@day.getTitle"</legend>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="title">Aktivitetsnavn</label>
                            <input id="title" name="title" type="text" placeholder="Aktivitetsnavn" class="form-control input-md" required="">
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group">
                            <label class="control-label" for="room">Rom</label>
                            <input id="room" name="room" type="text" placeholder="Rom" class="form-control input-md">
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="start-time">Starter</label>
                            <input id="start-time" name="startTime" type="text" placeholder="Starter" class="form-control input-md" required="">
                        </div>
                    </div>

                    <div class="col-xs-6">
                        <div class="form-group">
                            <label class="control-label" for="end-time">Slutter</label>
                            <input id="end-time" name="endTime" type="text" placeholder="Slutter" class="form-control input-md" required="">
                        </div>
                    </div>

                    <div class="col-xs-12">
                        <div class="form-group last-element">
                            <label class="control-label" for="save-activity"></label>
                            <button id="save-activity" name="save-activity" class="btn btn-primary">Legg til</button>
                        </div>
                    </div>
                </fieldset>

            </form>

            <hr>
            <h4>Aktiviteter i "@day.getTitle":</h4>

            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Aktivitet</th>
                        <th>Fra</th>
                        <th>Til</th>
                        <th>Rom</th>
                        <th width="10%"></th>
                    </tr>
                </thead>
                <tbody>
                @for(activity <- day.getActivities){
                    <tr>
                        <td>@activity.getTitle</td>
                        <td>@activity.getStartTime</td>
                        <td>@activity.getEndTime</td>
                        <td>@activity.room</td>
                        <td><a class="btn btn-danger btn-xs pull-right" href="@routes.ActivityController.delete(activity.getId)">Slett</a></td>
                    </tr>
                }

                </tbody>
            </table>

        </div>




    }
    </div>
}
