@(days: List[Day])
@main("Agenda") {

<div class="col-xs-12">

    <h2 class="title">Agenda</h2>
    <p>Velkommen til fagsamling</p>
    @for(day <- days){
    <div class="main">

        <h2>@day.getTitle</h2>

        <div class="table">
            @for(activity <- day.getActivities){
            <div class="time">@activity.getStartTime</div>
            <a href="#" class="col1">@activity.getTitle</a>
            <a href="#" class="col2">@activity.getRoom</a>
            }
        </div>
    </div>

    }
</div>
}

