@(days: List[Day])
@main("Admin - Activity") {

<div class="col-lg-12">

    <div class="wrapper">
        <h2>Agenda</h2>
        <p>Velkommen til fagsamling</p>
    </div>
    @for(day <- days){
    <div class="day-wrapper">

        <h4>@day.getTitle</h4>

        <table class="table table-hover">
            <thead>

            </thead>
            <tbody>
            @for(activity <- day.getActivities){
            <tr>
                <td>@activity.getStartTime - @activity.getEndTime</td>
                <td>@activity.getTitle</td>
                <td>@activity.room</td>
            </tr>
            }

            </tbody>
        </table>

    </div>




    }
</div>
}

