@(days: List[Day])
@main("Agenda") {

<div class="col-xs-12">
    <div class="top">
        <h2 class="title">Agenda</h2>
        <p class="welcometext">Velkommen til fagsamling</p>

    </div>
    @for(day <- days){
    <div class="main">

        <h2 class="daytitle">@day.getTitle</h2>

        <div class="table">
            @for(activity <- day.getActivities){
            <div class="time">@activity.getStartTime</div>
            <div href="#" class="col1">@activity.getTitle</div>
            <div href="#" class="col2">@activity.getRoom</div>
            }
        </div>
    </div>

    }
</div>
}

