@* Info Template File *@
@*@(information: List[Information])*@
@main("Information"){
	
	<div class="col-xs-12">
    <div class="top">
        <h2 class="title">Informasjon</h2>
        <p class="welcometext">Velkommen til fagsamling</p>

        <div>
         <Strong>Beliggenhet</Strong>
         <p>Lysebu ligger...</p>
     </div>
 </div>

    </div>

        <hr>


@*<div class="col-xs-12">
     <h3>Praktisk informasjon om fagsamling 2014</h3>
     <div>
         <strong>Hotell</strong>
         <p>@information.getInfo</p>
     </div>*@
     
     
}
