@* Info Template File *@
@*@(information: List[Information])*@
@main("Information"){
	
	<div class="col-xs-12">
        <div class="top">
            <h2 class="title">Informasjon</h2>
            <p class="welcometext">Velkommen til fagsamling</p>

        </div>

        <div class="main">
            <strong>Beliggenhet</strong>
            <br />
            <p>
                Lysebu har beliggenhet i Holmenkollen som kongsgården i eventyret. Med Oslos beste beliggenhet på sine 500 moh tilbyr det ypperste når det gjelder kvalitet, komfort og estetikk. </p>

            <br />
            <br />
            <strong>Innsjekk og utsjekk</strong>
            <br />
            <p>Resepsjonen er bemannet hele døgnet<br>
            Innsjekk: 15:00 <br>
            Utsjekk: 11:00

            </p>
            <br />
            <br />

            <strong>Generell informasjon</strong><br />
            <p>
                Hotellet tilbyr trådløst internett, samt at det har en svømmehall som er åpen fra 07:30 til 22:00
            </p>
        </div>
         

    </div>
    <hr>
}
