@* Info Template File *@
@*@(information: List[Information])*@
@main("Information"){
	
	<div class="col-xs-12">
        <h2 class="title">Informasjon</h2>
        <p class="welcometext">Velkommen til fagsamling</p>
        
        <div class="col-xs-12">
            <h4>Beliggenhet</h4>
            <p>
                Lysebu har beliggenhet i Holmenkollen som kongsgården i eventyret. Med Oslos beste beliggenhet på sine 500 moh tilbyr det ypperste når det gjelder kvalitet, komfort og estetikk. </p>
        

            <h4>Innsjekk og utsjekk</h4>
            <p>Resepsjonen er bemannet hele døgnet<br>
            Innsjekk: 15:00 <br>
            Utsjekk: 11:00

            </p>

            <h4>Generell informasjon</h4>
            <p>
                Hotellet tilbyr trådløst internett, samt at det har en svømmehall som er åpen fra 07:30 til 22:00
            </p>
        </div>
         

    </div>
    <hr>
}
