@(form : Form[Instructor])

@form

<form class="form-horizontal" action="@routes.InstructorController.edit(1)" method="POST">
    <fieldset>
        <legend>Rediger kursholder</legend>

        <div class="col-xs-12">
            <div class="form-group">
                <label class="control-label" for="name">Navn</label>
                <input value="" id="name" name="name" type="text" placeholder="Navn" class="form-control input-md" required="">
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group">
                <label class="control-label" for="imageUrl">Arrangør</label>
                <input value="" id="imageUrl" name="imageUrl" type="url" placeholder="imageUrl" class="form-control input-md">
            </div>
        </div>

        <div class="col-xs-12">
            <div class="form-group last-element">
                <label class="control-label" for="save-activity"></label>
                <button id="save-activity" name="save-activity" class="btn btn-primary">Rediger</button>
            </div>
        </div>
    </fieldset>

</form>