@(instructors: List[Instructor])
@main("Admin - Instructors") {

<div class="col-xs-12">
    <div class="day-wrapper">
        <h3>Instructors</h3>

        <hr>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th width="25%">Navn</th>
                        <th width="40%">BildeURL</th>
                        <th width="15%">Track</th>
                        <th width="20%"></th>
                    </tr>
                </thead>
                <tbody>
                    @for(instructor<-instructors){
                        <tr>
                            <td>@instructor.getName</td>
                            <td>@instructor.getImageUrl</td>
                            <td>@(if(instructor.getTrack != null) instructor.getTrack.getTitle)</td>
                            <td>
                                <div class="pull-right">
                                    <a class="btn btn-primary btn-xs" href="@routes.InstructorController.insForm(instructor.getId)">Edit</a>
                                    <a class="btn btn-danger btn-xs" href="@routes.InstructorController.delete(instructor.getId)">Slett</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

    </div>

</div>

}
