@(track: Track)
@main(track.getTitle) {


    <div class="top">
        <h2>@track.getTitle</h2>

    </div>
    <hr>
<div class="main">

    <div>
        <strong>Arrangør:</strong>
        <span>@track.getHost</span>
    </div>

    <div>
        <strong>Format:</strong>
        <span>@track.getFormat</span>
    </div>

    <div>
        <strong>Nivå:</strong>
        <span>@track.getLevel</span>
    </div>

    <div>
        <strong>Rom:</strong>
        <span>@track.getRoom</span>
    </div>

    <div id="desc">
        <strong>Beskrivelse:</strong>
        @Html(track.getHtmlContent)
    </div>

    <div>
        <strong>Forventet publikum:</strong>
        <span>@track.getAudience</span>
    </div>
    <div class="persons">
        @for(instructor<-track.getInstructors){

            <span class="persons span" >@instructor.getName</span>
            <img class="persons img" src="@instructor.getImageUrl" alt="@instructor.getName">
        }
    </div>
</div>

}

