@(track: Track)
@main(track.getTitle) {


    <div class="top">
        <h2>@track.getTitle</h2>

    </div>
    <hr>
<div class="main">

    <div>
        <strong>Arrangør</strong>
        <p>@track.getHost</p>
    </div>

    <div>
        <strong>Format</strong>
        <p>@track.getFormat</p>
    </div>

    <div>
        <strong>Nivå</strong>
        <p>@track.getLevel</p>
    </div>

    <div>
        <strong>Rom</strong>
        <p>@track.getRoom</p>
    </div>

    <div>
        <strong>Beskrivelse</strong>
        @Html(track.getHtmlContent)
    </div>

    <div>
        <strong>Forventet publikum</strong>
        <p>@track.getAudience</p>
    </div>
    <div>
        @for(instructor<-track.getInstructors){
            @instructor.getName

            <img src="@instructor.getImageUrl" alt="@instructor.getName">
        }
    </div>
</div>

}

