@(tracks: List[Track])
@main("Admin - Tracks") {

<div class="col-lg-12">
    <div class="day-wrapper">
        <h3>Tracks</h3>


        @trackForm()

        <hr>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Tittel</th>
                        <th>Arrangør</th>
                        <th>Kursholder</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @for(track<-tracks){
                        <tr>
                            <td>@track.getTitle</td>
                            <td>@track.getHost</td>
                            <td>@track.getInstructorsAsString</td>
                            <td>
                                <div class="pull-right">
                                    <a class="btn btn-primary btn-xs" href="@routes.TrackController.edit(track.getId)">Edit</a>
                                    <a class="btn btn-danger btn-xs" href="@routes.TrackController.delete(track.getId)">Slett</a>
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

    </div>

</div>

}
