@(tracks: List[Track])
@main("Tracks") {
    <div class="col-xs-12">
    <div class="top">
        <h2 class="title">Tracks</h2>
        <p class="welcometext">Velkommen til fagsamling</p>

    </div>

        <hr>

        @for(track<-tracks){
            <div class="row">
                <div class="col-xs-12 col-md-12">
                    @track.getRoom
                </div>
                <div id="tracks" class="col-xs-12 col-md-12">
                    <h4>@track.getTitle</h4>
                    <h5>@track.getInstructorsAsString</h5>
                    <p>@track.getSummary</p>

                    <a class="btn btn-primary" type="button" href="@routes.TrackController.serve(track.getId)">Se detaljer</a>
                </div>


            </div>
            <hr>
            }

    </div>
}

